@import 'assets/styles/variables.scss';

.rd-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: stretch;
    z-index: 9999;
    position: relative;
    background: $color__primary;

    @include mq($until: md) {
        height: 60px;

        &__left {
            padding: 10px;
        }
    }

    &__section {
        display: flex;
        align-content: center;
    }

    &__left {
        padding: 15px;
        align-items: center;
        img {
            height: 45px;
            width: auto;
        }
    }

    &__right {
        width: 100%;
        max-width: 500px;
    }
}
