@import 'assets/styles/variables.scss';

.rd-box {
    border-radius: 5px;
    background: $color__primary;
    border: 1px solid rgba($color__white, 0.05);
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    &__title {
        padding: 20px;
        border-bottom: 1px solid rgba($color__white, 0.05);
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
        }
        > div {
            display: flex;
            > img {
                margin-right: 20px;
            }
        }
    }
    &__content {
        padding: 20px;
    }
}
