@import 'assets/styles/variables.scss';
.react-dota {
    display: flex;
    flex-direction: column;
    &__content {
        flex: 1;
    }
}

.rd-topbar {
    .rd-search {
        @include mq($until: md) {
            display: none;
        }
    }

    .rd-burger {
        @include mq($from: md) {
            display: none;
        }
    }
}

.rd-nav {
    display: flex;
    align-items: stretch;
    &__items {
        margin-left: 20px;
        display: flex;
        align-items: stretch;

        @include mq($until: md) {
            display: none;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 0 25px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin-right: 10px;
        transition: all 0.2s ease-in-out;
        border-radius: 3px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background: rgba(white, 0.05);
        }

        &--active {
            background: $color__secondary;

            &:hover {
                background: $color__secondary;
            }
        }
    }
}

.rd-mobile-menu {
    padding: 20px;
    .rd-nav__item {
        margin: 0;
        margin-bottom: 20px;
        padding: 25px;
    }
}
