.rd-margin {
    margin: $gutter-width;

    &--vertical {
        margin: $gutter-width 0;
    }

    &--horizontal {
        margin: 0 $gutter-width;
    }

    &--top {
        margin-top: $gutter-width;
    }

    &--bottom {
        margin-bottom: $gutter-width;
    }

    &--left {
        margin-left: $gutter-width;
    }

    &--right {
        margin-right: $gutter-width;
    }
}

.rd-text-align {
    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    &--center {
        text-align: center;
    }
}

.rd-margin-auto {
    margin: auto;
}

.position {
    &--relative {
        position: relative;
    }
}

.display {
    &--flex {
        display: flex;
        flex: 1;
    }
}

.rd-flex {
    &--end {
        justify-content: flex-end;
    }
}
