// Base vars

$color__primary: #1f1d28;
$color__primary--light: lighten($color__primary, 5%);
$color__primary--dark: darken($color__primary, 5%);

$color__secondary: #f1602a;
$color__secondary--light: lighten($color__secondary, 5%);
$color__secondary--dark: darken($color__secondary, 5%);

$color__white: #f0f0f0;

$font: 'Lato', sans-serif;
$font--color: $color__white;
